body {
    font-family:Courier New, cursive;
    display: flex;
    
    padding: 50px;
    background-image:url('sfondo1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
     
    background: #f5e6d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,1,0,1);
    width: 450px;
    max-height: 300px;       
    overflow-y: auto;  
    margin-right:15px; 
    
   
}

#taskInput{
    width: 250px;
}

.notes_block{

    margin-left: 20px;
    background: #f5e6d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,1,0,1);
    width: 350px;
    height: 300px; 

}

.notes_block textarea{

    width: 100%;
    height: 60%;   
}

input {
    width: 70%;
    padding: 5px;
}

clearBtn{
    display: inline-block;  
    margin-top: 10px;
    margin-left: 5px;


}

button {
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#color_text{
    color: saddlebrown;
}

p {
  margin: 0;
}

.saved-notes{

    margin-left: 20px;
    background: #f5e6d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,1,0,1);
    width: 350px;
    height: 300px; 

}



.saved-notes ul {
    list-style: disc;
    padding-left: 20px;
}

.saved-notes li {
    background-color: #f5e6d3;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 4px;
}

